
<link href="/css/footer.css" rel="stylesheet">
<!-- Barrita teal claro -->
<div class="barritafooter" id="barritafooter">
    </div>  
    <div class="whitelinefooter" id="whitelinefooter">
      </div>  

  <!-- Footer -->
  <footer class="footer">
      <div class="container"><br><br></div>
      <div class="container">
          <div class="row">
              <div class="col-md-5 footertext">
                  <h2 style="color:white;line-height:15px">SAN &hearts;</h2>
                  <h2 style="color:white;line-height:25px">FELOVE</h2>
                  <p style="padding-bottom:30px;font-weight:70">ORGANIZACIÓN</p>

                    <ul class="list-unstyled">
                        <li><p>1-800-123-4567</p></li>
                        <li><p>info@sanfelove.com</p></li>
                    </ul>

                  <ul class="nav">
                      <li class="nav-item"><a href="" class="nav-link pl-0"><i class="fab fa-facebook fa-lg"></i></a></li>
                      <li class="nav-item"><a href="" class="nav-link"><i class="fab fa-twitter fa-lg"></i></a></li>
                      <li class="nav-item"><a href="" class="nav-link"><i class="fab fa-instagram fa-lg"></i></a></li>
                  </ul>
                  <br>
              </div>
              <div class="col-md-2">
                  <h5 class="text-md-right"></h5>                  
              </div>
              <div class="col-md-5">
                  <form method='POST' action='send'>
                      <fieldset class="form-group">
                          <input type="text" class="form-control footertext" name="Nombre" placeholder="Nombre">
                      </fieldset>
                      <fieldset class="form-group">
                          <input type="email" class="form-control" name="Correo" placeholder="Correo">
                      </fieldset>
                      <fieldset class="form-group">
                          <textarea class="form-control" name="Mensaje" placeholder="Mensaje"></textarea>
                      </fieldset>
                      <fieldset class="form-group text-xs-right">
                          <button type="submit" class="btn btn-secondary-outline btn-lg footertext" style="float:right">enviar</button>
                      </fieldset>
                  </form>
              </div>

          </div>
      </div>
  </footer>