<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>San Felove</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="css/agency.css" rel="stylesheet">
  <link href="css/wavesoscar.css" rel="stylesheet"/>

</head>

<body id="page-top">
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top fadein2" id="mainNav">
                <div class="container">
                  <a class="navbar-brand js-scroll-trigger" href="#page-top">LOGO</a>
                  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                      <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/home">Inicio</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/nosotros">Nosotros</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/proyectos">Proyectos</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/productos">Productos</a>
                      </li>

                    </ul>
                  </div>
                </div>
              </nav>
              <%# 1440x899 %>
              <%# 1.60 mayor vw a vh %>
              <div id="main" >
                <%# <img src="parallaximg/10.png" ></img> %>
                <img src="parallaximg/10.png" class="parImg rellax background fadein"  data-rellax-speed="-12.5"></img>
                <img src="parallaximg/7shadow.png" class="parImg rellax sun fadeout dissappear" data-rellax-speed="-14"></img>
                <img src="parallaximg/9.png" class="parImg rellax cloudleft" data-rellax-speed="-4"></img>
                <img src="parallaximg/8.png" class="parImg rellax cloudright" data-rellax-speed="-5"></img>
                <img src="parallaximg/6.png" class="parImg rellax watertop fadein3" data-rellax-speed="1.1"></img>
                <img src="parallaximg/5.png" class="parImg rellax watermed" data-rellax-speed="0.5"></img>
                <img src="parallaximg/4.png" class="parImg rellax waterback" data-rellax-speed="-0.5"></img>
                <img src="parallaximg/3.png" class="parImg rellax sandup" data-rellax-speed="2"></img>
                <img src="parallaximg/2.png" class="parImg rellax umbrellachair" data-rellax-speed="2"></img>
                <img src="parallaximg/1.png" class="parImg rellax sanddown" data-rellax-speed="2.5"></img>
                <img src="parallaximg/1.png" class="parImg rellax sanddown"  data-rellax-speed="1"></img>
            </div>
            <div class="gimmesomespace"></div>

            <!-- Nosotros -->
            <section id="nosotros" class="relax nosotros" >
                <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                    <h2 class="section-heading" style="text-align:left">¿Qué es Sanfelove?</h2>
                    </div>
                </div>
                <div class="row text-center">
                    <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipiscing elit nam blandit quam cras, faucibus interdum dictumst erat rhoncus sapien morbi ornare sem fames vestibulum curae, primis himenaeos odio libero ad mauris facilisi pretium vel laoreet. Orci accumsan bibendum justo consequat aenean est torquent dictumst, vulputate cursus aptent pellentesque in posuere sodales, nibh faucibus velit etiam eleifend pulvinar cum.</p>
                </div>
                </div>
            </section>

  <!-- Clients -->
    <section class="cosa">
      <div class="cuadro">
        <a href="#">Proyectos
        </a>
      </div>
      <div  class="cuadro2">
        <a href="#">
          Productos
        </a>
      </div>
      <div  class="cuadro">
        <a href="#">
          Contáctanos
        </a>
      </div>
    </section>


  <!-- Proyectos Grid -->
  <section class="bg-light" id="proyectos">
    <div class="container-fluid p-0">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Proyectos</h2>
        </div>
      </div>
      <div class="photoContainer">
        <div class="photo">
            <img class="img-fluid" src="img/portfolio/01-thumbnail.jpg" alt="">
        </div>
        <div class="photo">
            <img class="img-fluid" src="img/portfolio/02-thumbnail.jpg" alt="">
        </div>
        <div class="photo">
            <img class="img-fluid" src="img/portfolio/03-thumbnail.jpg" alt="">
        </div>
        <div class="lastphoto">
            <img class="img-fluid" src="img/portfolio/04-thumbnail.jpg" alt="">
        </div>
      </div>
  </section>

  <!-- Productos -->
  <header class="masthead" id="productosbanner">
    <div class="container">
      <div class="intro-text">
        
        <div class="intro-heading text-uppercase">Productos</div>
        <div class="intro-lead-in">Muchos productos</div>
      <div style="display:flex;justify-content:flex-end">
          <a class="btn especial" href="#services">ver más</a>
        </div>
      </div>
    </div>
  </header>

<!-- Donar en home -->
<div class="papa">
    <div class="izquierda">
      <span class="izquierda-r">HOLA</span>
      <span class="izquierda-r">SOY</span>
      <span class="izquierda-r">TITULO</span>
    </div>
    <div class="derecha">
      <p style="margin-bottom:10px">      
        Bacon ipsum dolor amet meatball ribeye drumstick pork belly ball tip tail pastrami short loin pork loin. Landjaeger shoulder prosciutto chicken, cow ham pork belly
      </p>
      <div style="display:flex;justify-content:flex-start">
        <button class="btn btn-success especialbtn" >
          DONAR
        </button>
      </div>
    </div>
  </div>
    
    <% include footer %>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Contact form JavaScript -->
  <script src="js/jqBootstrapValidation.js"></script>
  <script src="js/contact_me.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/oscarparallax.js"></script>
  <%# <script src="js/oscaragency.js"></script> %>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/rellax/1.8.0/rellax.min.js"></script>
  <script>
      var rellax = new Rellax('.rellax', {
        // wrapper: document.querySelector('#main') // or '.Layout__main'
  });
  </script>

</body>

</html>
