<div class="myNavbar">
    <a style="width:30vw" href="/home"> 
    LOGO
    </a>
    <a style="width:10vw" href="/home">
    Inicio
    </a>
    <a style="width:10vw" href="/nosotros">
    Nosotros
    </a>
    <a style="width:10vw" href="/proyectos">
    Proyectos
    </a>
    <a style="width:10vw" href="/productos">
    Productos
    </a>
    <a style="width:10vw" href="#">
    Donar
    </a>
    <a style="width:10vw" href="#">
        <i class="fas fa-shopping-cart"></i>
    </a>
</div>
<div class="myNavbar2">
    <a style="width:70vw" href="/home"> 
        LOGO
    </a>
    <div style="width:30vw" > 
        <button style="background-color:transparent;border:none" onclick="activame()">
            <span id="icono"><i class="fas fa-bars" style="color:white"></i></span>
        </button>
    </div>
</div>
<div class="opciones collapsed increase" style="display:flex;z-index: 30;position:absolute">
    <a style="width:100vw" href="/home">
        Inicio
    </a>
    <a style="width:100vw" href="/nosotros">
        Nosotros
    </a>
    <a style="width:100vw" href="/proyectos">
        Proyectos
    </a>
    <a style="width:100vw" href="/productos">
        Productos
    </a>
    <a style="width:100vw" href="#">
        Donar
    </a>
    <a style="width:100vw" href="#">
        <i class="fas fa-shopping-cart"></i>
    </a>
</div>