<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>San Felove</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <link href="css/agency.css" rel="stylesheet">
  <link href="css/waves4.css" rel="stylesheet"/>

</head>
<body id="page-top">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top fadein2" id="mainNav">
        <div class="container">
          <a class="navbar-brand js-scroll-trigger" href="#page-top">LOGO</a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/home">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/nosotros">Nosotros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/proyectos">Proyectos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/productos">Productos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="#donar">Donar</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

        <div class="rellax background fadein" data-rellax-speed="-14" id="sun">
            <img src="parallaximg/10.png"></img>
        </div>
        <div class="rellax sun fadeout" data-rellax-speed="-5">
                <img src="parallaximg/7.png"></img>
            </div>
        <div class="rellax cloudleft" data-rellax-speed="-4">
            <img src="parallaximg/9.png"></img>
        </div>
        <div class="rellax cloudright" data-rellax-speed="-5">
            <img src="parallaximg/8.png"></img>
        </div>
        <div class="rellax watertop fadein3" data-rellax-speed="1.1">
            <img src="parallaximg/6.png"></img>
        </div>
        <div class="rellax watermed" data-rellax-speed="0.5">
                <img src="parallaximg/5.png"></img>
            </div>
        <div class="rellax waterback" data-rellax-speed="-0.5">
            <img src="parallaximg/4.png"></img>
        </div>
        <div class="rellax sandup" data-rellax-speed="3">
            <img src="parallaximg/3.png"></img>
        </div>
        <div class="rellax umbrellachair" data-rellax-speed="2">
                <img src="parallaximg/2.png"></img>
            </div>
        <div class="rellax sanddown" data-rellax-speed="3">
            <img src="parallaximg/1.png"></img>
        </div>
        <div class="rellax sanddown" data-rellax-speed="2">
            <img src="parallaximg/1.png"></img>
        </div>
        <div class="rellax sanddown" data-rellax-speed="0">
                <img src="parallaximg/1.png"></img>
        </div>

        <div class="gimmesomespace"></div>    
        <div class="gimmesomespace"></div>
        <div class="gimmesomespace"></div>    
        <div class="gimmesomespace"></div>
 


        <script src="https://cdnjs.cloudflare.com/ajax/libs/rellax/1.8.0/rellax.min.js"></script>
        <script>
            var rellax = new Rellax('.rellax', {
            callback: function(position) {
            }
        });
        </script>

          <!-- Bootstrap core JavaScript -->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <script src="js/agency.js"></script>
        <script src="js/waves2.js"></script>
    </body>
