body{
    height: 120%;
}

.fadein{
    opacity: 0.3;
}

.parImg{
    position: absolute;
    width:100vw;
    height: auto;
}

.fadein2{
    opacity:-0.5;
}

.background{
    opacity: 0.2;
    margin-top:0%;
}
.sun{
    top: 0%;
    z-index: 1;
    margin-top:0%;
}
.cloudleft{
    z-index: 0;
    opacity: 0.4;
    margin-top:15%;
}
.cloudright{
    z-index: 0;
    opacity: 0.5;
    margin-top:16%;
}
.watertop{
    z-index: 3;
    opacity: 0.5;
    margin-top:21%;
}
.watermed{
    z-index: 2;
    margin-top:19%;
}
.waterback{
    z-index: 1;
    margin-top:19%;
}
.sandup{
    z-index: 3;
    margin-top:22%;
}
.umbrellachair{
    z-index: 4;
    margin-top:22%;
}
.sanddown{
    z-index: 6;
    margin-top:22%;
}
.seagull{
    z-index: 6;
    opacity: 0.5;
    margin-left:20%;
    margin-top:22%;
}
.gimmesomespace{
    height: 800px;
    text-align: center;
    background: white;
    font-size: 30px;
}
.cosa{
    display:flex;
    flex-flow: row nowrap;
    padding: 0;
    align-content: center
}
.cuadro{
    width:33.33vw;
    background-color: #38b1c2;
}
.cuadro2{
    width:33.33vw;
    background-color: #72ccd5;
}
.cuadro,.cuadro2{
    display: flex;
    justify-content:center;
    align-items:center;
    text-align: center;
    height: 15vh;
}
.cuadro>a,.cuadro2>a{
    width: 100%;
    color:white;
    font-size:1.75rem;
    font-weight: 700;
    font-family: 'Montserrat';
}
.especial{
    color:#36b2c1;
    background-color:white;
    border:white;
    
    border-radius: 2vw;
    /* border: 5px solid #f48c40; */
    /* color:#f48c40; */
    padding:0.5rem 3rem;
    font-size:1.6vw;
  
  }
  .especial:hover{
    background-color:#37b1c2;
    border:#37b1c2;
    color:white
  }

  /* photocontainer */
  .photoContainer{
    display:flex;
    flex-flow: row nowrap;
  }
  .photo{
      margin-right: 7px;
  }
  .lastPhoto{

  }

  .papa{
    display:flex;
    flex-direction:row;
    height:30vh;
    background-color:white;
    color:white;
    padding: 3vh 5vw;
    margin: 15vh 0vw;
  }
  
  .izquierda{
    width:30vw;
    font-size:4vw;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content:center;
    padding-left: 4rem;
    font-family: "Montserrat";
  }
  .izquierda-r{
    line-height:100%;
    margin-bottom:0;
    width:100%;
    color:#3cabb9;
    font-family: "Montserrat";
  }
  
  .derecha{
    width:70vw;
    display:flex;
    flex-direction:column;
    justify-content:center;
    font-size:1.5vw;
    text-align: justify;
    color:black;
    font-family: "Montserrat";
  }
  .especialbtn{
    border-radius: 2vw;
    border: 5px solid #f48c40;
    color:#f48c40;
    padding:0.5rem 3rem;
    font-size:1.6vw;
    background-color:white;
    font-family: "Montserrat";
  }
  .especialbtn:hover{
    border: 5px solid #f48c40;
    background-color: #f48c40;
    color:white;
  }
  .intro-lead-in,.intro-heading.text-uppercase{
      text-align: right;
  }