<div class="project"> 
<image class="img" src="https://via.placeholder.com/1280x960?text=imagen1"></image>
<p class="project-title">Proyecto</p>
<p class="project-date">Marzo 2017</p>
<p class="project-description">Estaes lad escripcion del producto/ orem ipsum dolor sitamet, conse dolor sit amet</p>
<button class="especialbtn btn btn-outline-danger" data-destino="/proyectos/2" onclick="cambioPagina(this)">Ver más</button>
</div>